#footer {
  border-top: 1px solid #e1ecff;
  padding: 3.4rem 6rem;
  width: 100%;
  background-image: url('../img/footer-bg.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;  
  font-family: "Nunito", sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 90%;
  margin: auto;
  flex-direction: column;
}

.footer-left {
  width: 100%;
}

.footer-left-h2 {
  font-weight: 700;
  letter-spacing: 0.125rem;
  color: mediumblue;
  font-size: 1.5rem;
}

.footer-left-p {
  padding-top: 0.3125rem;
  font-size: 0.75rem;
  color: #555;
  line-height: 1.5;
}

.footer-right {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-column {
  flex: 1;
  min-width: 200px;
}

.footer-a:hover {
  color: #00bcd4;
}

.footer-right-h4 {
  font-size: 0.95rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
}

.footer-right-p {
  line-height: 1.8;
  font-size: 0.8125rem;
  color: #666;
}

.footer-right-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-right-li {
  margin-bottom: 0.625rem;
}

.footer-right-a {
  font-size: 0.8125rem;
  color: #1a247c;
  padding: 0% !important;
}

.footer-right-a:hover {
  color: #0d6efd;
}

@media (min-width: 360px) {
  .footer-left-h2 {
    font-size: 1.6rem;
  }
}


@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    max-width:none;
  }

  .footer-left {
    width: 50%;
  }

  .footer-left-h2 {
    font-size: 1.75rem;
  }
}

@media (min-width: 901px) {
  .footer-left {
    width: 45%;
  }

  .footer-left-h2 {
    font-size: 1.8rem;
  }

  .footer-right {
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .footer-left {
    width: 40%;
  }

  .footer-left-h2 {
    font-size: 1.875rem;
  }
}

@media (min-width: 1200px) {
  .footer-left {
    width: 38%;
  }

  .footer-left-h2 {
    font-size: 2rem;
  }

  .footer-container {
    max-width: 99%;
    gap: 1.25rem;
  }
}

@media (min-width: 1706px) {

  .footer-left-h2 {
    font-size: 2.1rem;
  }

  .footer-container {
    max-width: 80%;
  }
}

@media (min-width: 1920px) {
  .footer-left-h2 {
    font-size: 2.25rem;
  }

  .footer-container {
    max-width: 85%;
  }
}

@media (min-width: 2048px) {
  .footer-left-h2 {
    font-size: 2.5rem;
  }

  .footer-container {
    max-width: 90%;
  }
}


@media (min-width: 513px) {
  .footer-left-h2 {
    font-size: 1.7rem;
  }

  .footer-left-p {
    font-size: 1rem;
  }

  .footer-right-h4,
  .footer-right-a {
    padding: 0% !important;
    font-size: 0.875rem;
  }
}
